PORT=3000

# MongoDB connection variables
MONGODB_USER=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_cluster_url
MONGODB_DB=your_database_name

# Brevo SMTP configuration
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_user
SMTP_PASSWORD=your_brevo_api_key
SMTP_FROM=your_verified_email@domain.com

# JWT configuration
JWT_SECRET=your_jwt_secret_key

# Application domain
APP_DOMAIN=http://localhost:3000/auth

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
